body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: "Courier New", monospace;
}

.typewriter-app{
    text-align: center;

}

.paper{
    width: 500px;
    height: 300px;
    padding: 30px;
    background-color: #f5ecd8;
    border-radius: 5px;
    text-align: left;
}

#paper-text{
    white-space: pre-wrap;
}
#paper-date{
    font-size: 12px;
    color: #a18873;
    margin-bottom: 0px;
    text-align: right;
}
#paper-info{
    font-size: 12px;
    color: #a18873;
    margin-top: 10px;
    text-align: right;
}
.keyboard{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.keyboard-row{
    display: flex;
    gap: 10px;
}



.key{
    width:55px;
    height: 55px;
    border-radius: 46%;
    border: 2px solid #c0a28c;
    background-color: #eee3cf;
    font-family: "Courier New", monospace;
    font-size:20px;
    cursor: pointer;
    transition: transform 0.8s;
}
    
.key.pressed{
    transform: translateY(12px);
}

.key.active{
    transform: translateY(12px);
}
.special-key{
    border-radius: 12px;
    padding: 0px 20px;
    width: auto;
}

.caps-key{
    min-width: 90px;
}
.space-key{
    min-width: 120px;
}
.enter-key{
    min-width: 100px;
}
.backspace-key{
    min-width: 140px;
}
#done-button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3d342d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#done-button.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}